In [ ]:
x=20

In [ ]:
if x>10:
   print('x>10')

x>10

In [ ]:
x=20 
if x>10:
  print ('x>10')
if x<10:
  print ('x<10')
if x==10:
  print ('x==10')

x>10

In [ ]:
x= int(input('enter your mark'))
if x>100:
  print('pass')
if x<100:
  print('fail')
if x==100:
  print('just pass')

enter your mark67
fail

In [ ]:
x=int(input('enter your salary'))
if x<250000:
  print('you are not taxable')
if x>250000:
  print (x*10/100)
  print('you are taxable')

enter your salary400000
40000.0
you are taxable